.bloodcenter_list_content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.listing {
    width: calc(100vw - 255px);
    padding: 0 45px 65px 45px;
}

.filter {
    width: clamp(260px, 50vw, 450px);
    margin-bottom: 25px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.filtered {
    width: clamp(260px, 50vw, 450px);
    margin-bottom: 0;
}

.clear {
    position: absolute;
    color: #cccccc;
    font-weight: 500;
    right: 50px;
}

.clear:hover {
    color: #999999;
}

@media screen and (max-width: 1025px) {
    .listing {
        width: 100vw;
    }

    .filter,
    .filtered,
    .width {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .custom_input {
        width: clamp(280px, 5vw, 380px);
    }

    .listing {
        padding: 0 0 65px 0;
    }
}