.edit_profile_container {

}

.edit_profile_content {

}

.header {
    position: absolute;
    right: 0;
}

.profile_header {
    position: absolute;
    right: 0;
    top: 160px;
}

.edit_container {
    width: calc(100vw - 300px);

    display: flex;
    flex-direction: row;

    position: absolute;
    right: 0;
    top: 455px;
}

.open_nav {
    display: none;      
}

.nav {
    border-right: .5px solid #d0d0d0;
    flex-direction: column;
}

.edit {
    width: clamp(115px, 20vw, 170px);
    height: clamp(40px, 10vw, 50px);

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 16.5px;

    font-size: clamp(0.875rem, 2vw, 1rem);

    border: 1.5px solid #d0d0d0;
    border-right: 0;
    border-radius: 10px 0 0 10px;

    cursor: pointer;
}

@media screen and (max-width: 1025px) {
    .edit_container {
        width: 100vw;
    }

    .edit_nav {
        z-index: 999;
        position: absolute;   
    }

    .open_nav {
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        background-color: #fff;
        border: 2px solid #757575;
        border-radius: 10px;
    }

    .nav {
        transition: all .5s;
        border-right: 0;
    }

    .edit {  
        
        background-color: #fff;
        border-radius: 0 10px 10px 0;
        border-right: 17px solid #757575;
    }

}
