.logo {
    display: flex;
    align-items: center;
    gap: 5px;

/*     position: absolute;
    padding: 1.8% 0 0 3%; */

    user-select: none;
}

.brand {
    text-align: center;
}

.logo img {
    width: clamp(32px, 10vw, 50px);
    height: clamp(32px, 10vw, 50px);
}

.brand h1,
.brand p {
    line-height: 120%;
}

.brand h1 {
    font-size: clamp(1.125rem, 5vw, 1.625rem);
    font-weight: 800;
    color: var(--opaque-red);
}

.brand p {
    font-size: clamp(0.75rem, 3vw, 1rem);
    font-weight: 300;
}