.schedule_details {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.close_container {
    position: absolute;
    top: 10px;
    right: 10px;
}

.close {
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.close img {
    width: 45px;
    position: relative;
}

.close span {
    position: absolute;

    font-size: clamp(1rem, 5vw, 1.375rem);
    font-weight: 600;
    color: #fff;
}

.schedule_details_content {
    width: inherit;
    height: inherit;

    gap: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    margin-bottom: 80px;
    padding-top: 50px;
}

.patient_data_container {
    width: 85%;
    min-height: 345px;

    display: flex;
    align-items: center;

    padding: 0 25px;

    position: relative;
    
    border-radius: 10px;
    background-color: #92070715;
}

.patient_data_container img {
    width: 125px;
    height: 125px;

    object-fit: cover;

    position: absolute;
    left: -45px;
    top: -60px;
}


.patient_data {
    width: 100%;
    height: 100%;

    margin-bottom: 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.patient_data h3 {
    font-size: clamp(1rem, 3vw, 1.125rem);
    text-align: center;
}

table {
    width: 100%;
}

tr {
    height: 35px;
}

th {
    padding-left: 10px;
    text-align: left;
}

.data {
    background-color: #92070730;
}

td {
    text-align: center;
}

.button {
    width: clamp(200px, 25vw, 280px);
    font-size: clamp(1rem, 2vw, 1.375rem);
}

@media screen and (max-width: 920px) {
    .patient_data_container {
        width: 100%;

        padding: 0;
    }

    .patient_data_container img { 
        width: 100px;
        height: 100px;

        left: 20px;
    }

    table {
        font-size: 0.875rem;
    }
}

@media screen and (max-width: 690px) {
    table {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 40px;
    }

    .tbody {
        width: inherit;
        height: inherit;

        position: relative;

        display: flex;
        gap: 3px;
    }

    .data {
        width: inherit;
        height: auto;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        gap: 3px;

        background: none;
    }

    .patient_data_container img { 
        width: 80px;
        height: 80px;

        left: 15px;
        top: -45px;
    }

    th {
        width: 100vw;

        padding: 0;
        text-align: center;

        position: absolute;
        top: -21px;
    }

    .data th,
    .data td,
    td {
        width: inherit;

        background-color: #92070730;
    }

    tr {
        width: inherit;
        height: auto;

        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        gap: 3px;
    } 
}