.confirm_disable {
    width: 100vw;
    height: 100vh;

    padding: 60px 30px;

    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: #fff;
}

.confirm_disable_container {
    width: inherit;
    height: inherit;

    position: relative;
}

.close_container {
    position: absolute;
    top: 10px;
    right: 10px;
}

.close {
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.close img {
    width: 45px;
    position: relative;
}

.close span {
    position: absolute;

    font-size: clamp(1rem, 5vw, 1.375rem);
    font-weight: 600;
    color: #fff;
}

.disable_content {
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.disable_content header {
    margin: 0;
}

.obs {
    font-size: clamp(0.875rem, 2vw, 1.125rem);
    text-align: center;
}

.confirm {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input {
    margin: 0;
}