.list_item_container {
  width: 100%;
  min-height: 120px;

  margin-bottom: 15px;
  padding: 25px 15px;
  gap: 15px;

  display: flex;
  align-items: flex-end;

  border: 1.5px solid #d0d0d0;
  border-radius: 10px;
}

.list_item_content {
  width: 90%;

  display: flex;
  align-items: center;
  gap: 15px;
}

.list_item_content img {
  width: 100px;
  height: 100px;

  border-radius: 100%;

  object-fit: cover;
}

.list_item_data {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.list_item_data h4 {
  font-size: clamp(0.875rem, 2vw, 1.125rem);
  font-weight: 600;
}

.list_item_data p {
  font-size: clamp(0.8rem, 2vw, 1rem);
}

.custom_button {
  width: clamp(35px, 35vw, 140px);
}

@media screen and (max-width: 800px) {
  .list_item_content img {
    width: 80px;
    height: 80px;
  }
}

@media screen and (max-width: 600px) {
  .list_item_content img {
    display: none;
  }
}

@media screen and (max-width: 530px) {
  .list_item_container {
    padding: 15px 25px;

    display: block;
  }

  .list_item_data p {
    margin-bottom: 25px;
  }

  .list_item_container .custom_button {
    width: 100%;

    font-size: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .list_item_container {
    border-right: 0;
    border-left: 0;
    border-radius: 0;
  }
}
