.profile_container {
    width: 100vw;
    height: 100%;
}

.profile_content {
    width: calc(100vw - 300px);

    display: flex;
    flex-direction: column;

    position: absolute;
    right: 0;
}

.introduction {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 25px 25px 0px 200px;
    margin-bottom: 25px;
}

.introduction h2 {
    font-size: clamp(1rem, 3vw, 1.25rem);
    font-weight: 600;

    margin-bottom: 5px;
}

.introduction p {
    font-size: clamp(0.813rem, 3vw, 1.063rem);
}

.our_campaigns {
    width: calc(100vw - 300px);
}

.menu {
    position: fixed !important;
    top: 88vh;
    right: 60px;
}

.menu button,
.menu a {
    border: 1.5px solid;
}

.out {
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 999;

    cursor: pointer;
}
  
.out .tooltip {
    opacity: 0;

    width: 80px;
    background-color: #000;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    transition: all .3s;
  
    position: absolute;
    right: 45px;
    z-index: 999;
}
  
.out:hover .tooltip {
    opacity: 1;
}

@media screen and (max-width: 1025px) {
    .profile_content,
    .our_campaigns {
        width: 100vw;
    }

    .our_campaigns {
        margin-bottom: 150px;
    }

    .introduction {
        width: 100%;
        padding: 25px 25px 0px 140px;
    }

    .menu {
        top: 85vh;
        right: 15px;
    }

    .menu button {
        width: 18px;
        height: 18px;
    }
}

@media screen and (max-width: 480px) {
    .introduction {
        width: 100%;
        margin-bottom: 0;
        padding: 45px 20px 25px 20px;
    }
}