.our_inventory {
    width: calc(100vw - 300px);
    min-height: 150px;

    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 15px 45px;
    margin-bottom: 60px;
}

.our_inventory h3 {
    font-size: clamp(1rem, 3vw, 1.25rem);
    font-weight: 600;

    margin-bottom: 5px;
    padding: 0;
}

.blood_levels {
    width: 100%; 
    
    display: flex;
    gap: 4px;
}

.level {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0;
}

.level img {
    width: clamp(15px, 10vw, 60px);
    height: clamp(15px, 10vw, 60px);
}

.level p {
    font-size: clamp(0.75rem, 3vw, 1rem);
}

@media screen and (max-width: 1025px) {
    .our_inventory {
        width: 100vw;
    }
}

@media screen and (max-width: 480px) {
    .our_inventory {
        min-height: 100px;
        padding: 15px 15px;
        gap: 10px;
        margin-bottom: 30px;
    }
}