.scheduler_list_content{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.listing {
    width: calc(100vw - 255px);
    padding: 0 45px 65px 45px;
}

.listing h3 {
    font-size: clamp(0.875rem, 2vw, 1.125rem);
    padding: 15px 0;
}

.concluded {
    padding-top: 50px;
}

@media screen and (max-width: 1025px) {
    .listing {
        width: 100vw;
    }
}

@media screen and (max-width: 480px) {
    .custom_input {
        width: clamp(280px, 5vw, 380px);
    }

    .listing {
        padding: 0 0 65px 0;
    }

    .listing h3 {
        padding: 15px 25px;
    }    
}