.campaign_container {
    display: flex;
}

.logo {
    display: none;
}

.cape {
    width: 85%;
    height: 100vh;

    position: fixed;
    left: 240px;

    background-image: url(../../assets/bloodFlow/camp-flow.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.cape_photo {
    width: 25%;
    height: 54%;

    object-fit: cover;

    position: absolute;
    top: 7%;
    left: 4%;
}

.container_content {
    width: 100%;

    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.content {
    width: 51%;
    height: 100%;

    padding: 50px 30px 75px 0;
    display: flex;

    align-items: center;
    flex-direction: column;

    z-index: 999;
}

.content h1 {
    font-size: clamp(1.125rem, 5vw, 1.375rem);
    margin-bottom: 10px;
}
.data h3 {
    font-size: clamp(1rem, 5vw, 1.125rem);
}
.data p {
    font-size: clamp(0.875rem, 3vw, 1rem);
    text-align: justify;
}

.content .data_container {
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.timetable {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.timetable_data {
    display: flex;
    gap: 5px;
}

.timetable_data p:nth-child(2) {
    margin-right: 5px;
}

.loading {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading h2 {
    text-align: center;
    font-size: clamp(1rem, 3vw, 1.25rem);
    font-weight: 600;

    margin-bottom: 15px;
}

.loader {
    width: 48px;
    height: 48px;
    display: block;
    margin:15px auto;
    position: relative;
    color: #FFF;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after,
  .loader::before {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 50%;
    left: 50%;
    transform: scale(0.5) translate(0, 0);
    background-color: #FF3D00;
    border-radius: 50%;
    animation: animloader 1s infinite ease-in-out;
  }
  .loader::before {
    background-color: #000;
    transform: scale(0.5) translate(-48px, -48px);
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
  @keyframes animloader {
      50% {
        transform: scale(1) translate(-50%, -50%);
  }
  }
      

@media screen and (max-width: 1025px) {
    .logo {
        display: block;

        position: absolute;
        right: 30px;
        top: 20px;
    }

    .campaign_container {
        width: 100%;
        height: 100%;

        padding-top: 120px;
    }

    .cape {
        width: auto;
        height: auto;

        display: flex;
        justify-content: center;
        
        position: relative;
        left: 0;
        background-image: none;
    }

    .cape_photo {
        width: 350px;
        height: 400px;

        margin-right: 25px;
        padding-left: 25px;

        position: sticky;
        top: 0;
        left: 0;
    }

    .content {
        width: 100%;
        padding-top: 0px;
    }
}

@media screen and (max-width: 720px) {
    .campaign_container {
        display: flex;
        flex-direction: column;
    }

    .cape {
        left: 0;
    }
    
    .cape_photo {
        width: 250px;
        height: 300px;

        margin-right: 0;
        padding-left: 0;
    }

    .container_content .content {
        padding-right: 0;
        padding-left: 0;
    }
    
    .container_content {
        justify-content: center;
    }
    
    .content {
        width: 90%;
        padding-top: 30px;
    }
} 