.home_container {
    display: flex;
}

.home_header {
    width: calc(100vw - 240px);
    height: 100px;

    padding-right: 30px;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    border-bottom: 1.5px solid #D0D0D0;
}

@media screen and (max-width: 1025px) {
    .home_header {
        width: 100vw;
    }
}