.home_container {
    display: flex;
}

.home_content {
    position: absolute;
    right: 0;
}

.content {
    padding-left: 50px;
}

@media screen and (max-width: 1025px) {
    .content {
        padding-left: 0;
    }
}