.filter {
    display: flex;
    align-items: center;

    margin-bottom: 35px;
}

.custom_input {
    border-radius: 10px 0px 0px 10px;
    margin-bottom: 0;
    font-size: clamp(0.8rem, 2vw, 1rem);
}

.search {
    width: clamp(30px, 10vw, 45px);
    height: clamp(45px, 10vw, 55px);
    
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #d0d0d0;
    border-left: none;
    border-radius: 0px 10px 10px 0px;

    cursor: pointer;
}

input[type="date"]:before {
    color: lightgrey;
    content: attr(placeholder) !important;
    font-size: clamp(0.8rem, 2vw, 1rem);
    margin-right: 0.5em;
}

input[type="date"]:focus:before {
    content: '' !important;
}

@media screen and (max-width: 1025px) {
    .custom_input {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .filter {
        justify-content: center;
    }

    .search svg {
        width: 20px;
    }
}