.steps {
    gap: 5px;
    margin-bottom: 70px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    width: 60px;
    height: 1.5px;
    background-color: #d0d0d0;
}

.step {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.step img {
    width: clamp(35px, 5vw, 50px);
}

/* .bloob {
    filter: brightness(0) saturate(100%) invert(14%) sepia(82%) saturate(2063%) hue-rotate(341deg) brightness(120%) contrast(104%);
} */

.step span {
    position: absolute;

    color: #fff;
}