.inventory_tab {
    position: absolute;
    top: 455px;
    right: 0;
}

.header {
    top: 160px;
}

.header a {
    display: none;
}

.container {
    width: calc(100vw - 471px);
    min-height: 100px;
    margin-bottom: 30px;
}

.content {
    padding-left: 45px;
}

.action {
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.action a {
    color: #000;
    font-size: clamp(0.875rem, 2vw, 1rem);
}

.save {
    margin-bottom: 0;
}

@media screen and (max-width: 1025px) {
    .container {
        width: 100vw;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .levels {
        display: flex;
        justify-content: center;
    }

    .content {
        padding: 0;
    }
}