.container_menu {
    width: 240px;
    height: 100vh;

    padding-top: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-right: 1.5px solid #D0D0D0;

    z-index: 9999;
    user-select: none;
}

.menu {
    width: inherit;
    height: inherit;

    gap: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu_item {
    height: 50px;

    padding-left: 30px;
    gap: 10px;

    display: flex;
    align-items: center;

    cursor: pointer;
}

.menu_item img {
    width: 25px;
    height: 25px;
}

.menu_item.list img {
    width: 25px;
    height: 30px;
}

.menu_item.profile img {
    width: 20px;
    height: 25px;
}

.menu_item p {
    font-weight: 300;
}

.copyright {
    height: 160px;
    gap: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.copyright p {
    width: 150px;

    font-size: 0.875rem;
    font-weight: 200;
    text-align: center;
}

.horizontal_line {
    width: 100px;
    height: 1.5px;

    background-color: #D0D0D0;
}

@media screen and (max-width: 1025px) {
    .logo,
    .menu_item p {
        display: none;
    }

    .container_menu {
        width: 100vw;
        height: 50px;

        padding: 0;

        position: fixed;
        bottom: 0;

        border-right: none;
        border-top: 1.5px solid #D0D0D0;

        background-color: #fff;
    }

    .menu {
        width: inherit;
        height: inherit;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .menu_item {
        width: 33.3vw;
        height: inherit;
        padding: 0;

        display: flex;
        justify-content: center;
    }
    
    .copyright {
        display: none;
    }
}