.button {
    width: clamp(35px, 35vw, 140px);
    height: clamp(45px, 10vw, 55px);

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 20px;
    background-color: var(--red);

    color: #fff;
    font-size: clamp(1rem, 4vw, 1.375rem);
    font-weight: 600;
    text-decoration: none;
}