footer {
    width: calc(100vw - 240px);
    height: 100px;

    padding: 0 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    border-top: 1.5px solid #d0d0d0;

    user-select: none;
}

footer p,
.copyright p {
    font-size: clamp(0.875rem, 1vw, 1rem);
    text-align: center;
}

.copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 1025px) {
    footer {
        width: 100vw;
    }
}

@media screen and (max-width: 700px) {
    footer .copyright {
        align-items: center;
    }

    .copyright {
        width: 90%;
    }
}

@media screen and (max-width: 500px) {
    footer {
        justify-content: center;
        align-items: center;
    }

    .copyright {
        width: 100%;
    }
}