@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap');

:root {
  --light-pink: #E49E9E;
  --pink: #D96B6B;
  --primary-red: #AA1E1E;
  --red: #920707;
  --opaque-red: #B52121;
  --brown: #803434;
  --green: #0A9207;

  --font: font-family: 'Poppins', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
}

code {
  font-family: 'Poppins', sans-serif;
}
