@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;800&display=swap');

:root {
  --light-pink: #E49E9E;
  --pink: #D96B6B;
  --primary-red: #AA1E1E;
  --red: #920707;
  --opaque-red: #B52121;
  --brown: #803434;

  --font: font-family: 'Poppins', sans-serif;

  --bigger-button-size: width: clamp(80px, 50vw, 280px);
  --smaller-button-size: width: clamp(35px, 35vw, 140px);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

code {
  font-family: 'Poppins', sans-serif;
}
