.header {
    top: 160px;
}

.header a {
    display: none;
}

.schedule_tab {
    position: absolute;
    top: 455px;
    right: 0;
}

.container {
    width: calc(100vw - 470px);

    margin-bottom: 30px;
    padding: 0 45px 25px 45px;

    position: relative;
}

.container h3 {
    padding: 20px 0 20px 0px;
}

.top {
    display: flex;
    flex-wrap: wrap;
}

.select {
    margin-right: 20px;
}

.time {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 25px;
}

.time_input {
    display: flex;
    gap: 25px;
}

.bottom h3 {
    padding: 0 0 20px 0px;
}

.submit_container {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.default_submit {
    width: clamp(180px, 25vw, 180px);
    height: clamp(45px, 10vw, 50px);

    font-size: clamp(1rem, 4vw, 1.125rem);

    margin-bottom: 0;
}

.hour {
    width: clamp(115px, 23vw, 210px);
    margin-bottom: 0;
}

.personalized {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.timeslots {
    width: 400px;
    height: 287px;
    justify-content: space-between;
    padding-right: 10px;
    overflow-y: scroll;
}

.timeslot {
    display: flex;
    justify-content: space-between;
}

.personalized_hour {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #d0d0d0;
    border-radius: 10px;

    font-size: clamp(0.875rem, 2vw, 1rem);
}

.personalized_quantity,
.personalized_hour {
    width: 180px;
    height: 40px;
}

.action {
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.action a {
    color: #000;
    font-size: clamp(0.875rem, 2vw, 1rem);
}

.save {
    margin-bottom: 0;
}

.calendar {
    width: 400px;
}

.date {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    margin-bottom: 1em;
    border-radius: 5px;
    background-color: #e9e9e9;
    font-size: 0.875rem;
}

@media screen and (max-width: 1025px) {
    .container {
        width: 100vw;

        padding: 0 0 25px 0;

        display: flex;
        flex-direction: column;
        align-items: center;
    }    
    
    .top {
        flex-direction: column;
    }

    .select {
        margin: 0;
    }

    .time {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }

    .bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .submit_container {
        padding-right: 0px;
    }

    .schedule_tab {
        padding-bottom: 80px;
    }

    .personalized {
        justify-content: center;
    }

    .timeslots {
        width: 280px;
        gap: 5px;
    }

    .timeslot {
        width: inherit;
    }

    .personalized_quantity,
    .personalized_hour {
        width: 130px;
    }
}

@media screen and (max-width: 1213px) {
    .submit_container {
        justify-content: center;   
    }
}

@media screen and (max-width: 480px) {
    .calendar {
        width: 280px;
    }
}