.container {
    width: calc(100vw - 471px);
    margin-bottom: 30px;

    position: relative;
}

.header {
    top: 160px;
}

.header a {
    display: none;
}

.campaign_tab {
    position: absolute;
    top: 455px;
    right: 0;
}

.content {
    padding-left: 45px;
}

.content h3 {
    padding: 0 0 20px 0px;
}

.form { 
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
}

.content.campaign_data {
    display: flex;
    flex-wrap: wrap;
}
.form.campaign_data {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.foto_capa {
    width: 180px;
    padding-left: 20px;

    cursor: pointer;
}

.form.date {
    display: flex;
    flex-direction: column;
}

.date_right,
.date_left {
    display: flex;
    gap: 25px;
}

.message {
    width: clamp(260px, 35vw, 450px);

    padding-top: 5px;
    gap: 5px;
    margin-bottom: 25px;
  
    display: flex;
    align-items: center;
}

.message span {
    color: var(--primary-red);
    font-size: clamp(0.75rem, 2vw, 0.875rem);
    font-weight: 600;
}

.right {
    margin-right: 25px;
}

.input {
    width: clamp(115px, 23vw, 210px);
    margin-bottom: 0px;
}

.right span,
.left span {
    width: clamp(115px, 23vw, 445px);
}

.action {
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.action a {
    color: #000;
    font-size: clamp(0.875rem, 2vw, 1rem);
}

.save {
    margin-bottom: 0;
}

.trash_campaign {
    position: absolute;
    right: 5px;
    bottom: 5px;

    cursor: pointer;
}

.input_container {
    font-size: clamp(0.875rem, 2vw, 1rem);
}

.file_input {
    width: clamp(260px, 50vw, 450px);
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px;
    font-size: clamp(0.875rem, 2vw, 1rem);
    font-family: var(--font);
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    border: 1px solid #cccccc;
    cursor: pointer;
}

.file {
   visibility: hidden;
}

@media screen and (max-width: 1025px) {
    .container {
        width: 100vw;
    }

    .container h3 {
        display: flex;
        justify-content: center;
        padding: 20px 0px 20px 0px;
    }

    .foto_capa {
        width: 155px;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;

        padding-left: 0;
    }

    .content h3 {
        padding: 0px 0px 20px 0px;
    }

    .form,
    .bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .right {
        margin-right: 0;
    }

    .action {
        height: 160px;
        display: flex;
        flex-direction: column;
        display: flex;
        justify-content: flex-start;
        gap: 20px;
    }
}